name: Pull Request Preview Build

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        arch: [amd64, arm64]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Cache turbo build setup
        uses: actions/cache@v4
        with:
          path: .turbo
          key: ${{ runner.os }}-turbo-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-turbo-

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.22

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 8.11.0

      - name: Install Dependencies
        run: make install-dev

      - name: Set GOARCH for AMD64
        if: matrix.arch == 'amd64'
        run: echo "GOARCH=amd64" >> $GITHUB_ENV

      - name: Set GOARCH for ARM64
        if: matrix.arch == 'arm64'
        run: echo "GOARCH=arm64" >> $GITHUB_ENV

      - name: Build
        run: make

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.os }}-${{ matrix.arch }}
          path: bin/reblog
